package pages

import "awesomeProject1/internal/dto"
import "awesomeProject1/web/templates/components"

templ RoomsPage(allRooms []dto.RoomResponse) {
	<div class="section active" id="rooms-section">
		<div class="section-title">All Rooms</div>
		@AllRoomsList(allRooms)
	</div>
	
	<script>
		function navigateToRoom(button) {
			const roomId = button.getAttribute('data-room-id');
			window.location.href = '/rooms/' + roomId;
		}
	</script>
}

templ AllRoomsList(rooms []dto.RoomResponse) {
	<div class="room-list">
		if len(rooms) == 0 {
			<div class="empty-state">
				No rooms available yet
			</div>
		} else {
			for _, room := range rooms {
				@components.RoomCard(room)
			}
		}
	</div>
}


